- content_for :title, 'Social Media Metrics'

%section
  .container
    %h1.title.text-center Social Media Widget Statistics

    .columns
      .column
        %datepicker{ '@set-dates': 'setDates' }

      .column
        .select.float-right
          %select#graph-select{ 'v-model': 'graphOption' }
            %option Social Share Ratio
            %option Social Share by Date

    %chartkick{ 'v-bind': '{ dates, graphOption }' }
