{
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb-base",
    "plugin:vue/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "no-new": "off",
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "max-len": "off",
    "vue/max-attributes-per-line": "off"
  },
  "globals": {
    "_": true
  }
}
