{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "quotes": ["error", "single", { "allowTemplateLiterals": true }]
  },
  "globals": {
    "_": true
  }
}
