#notifications-dropdown {

  @media screen and (max-width: 1023px) {
    .title.is-4 {
      font-size: 1.2rem;
    }

    .dropdown-menu {
      overflow: visible;
    }
  }

  @media screen and (min-width: 1024px) {
    .dropdown-menu {
      width: 23rem;
      right: -6rem;

      .dropdown-content {
        max-height: 25rem;
        overflow-y: visible;
      }
    }
  }

  a.dropdown-item {
    display: flex;
    padding-right: 0;
    white-space: normal;

    strong {
      font-weight: 600;
    }

    &.read {
      color: #65676b;
    }

    &.unread {
      color: black;

      .time-ago {
        color: #1876f2;
        font-weight: 600;
      }

      .notification-options button:after {
        content: '';
        width: 12px;
        height: 12px;
        background-color: #1876f2;
        border-radius: 50%;
        position: absolute;
        bottom: -1.25rem;
      }
    }

    .project-avatar, .user-avatar-container {
      margin-right: 1rem;
    }

    .notification-details {
      display: flex;
      padding-right: 2rem;
      width: 100%;
      flex-direction: column;
    }

    .notification-options {
      button {
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        position: absolute;
        right: 1rem;
      }

      .dropdown-menu {
        width: auto;
        top: 2rem;
        right: 1rem;
        z-index: 100000;

        .dropdown-content {
          min-height: auto;
        }
      }
    }
  }

  .more {
    display: block;
    padding: 0.5rem 0 0 1rem;
    user-select: none;
  }
}
