#project {
  .title-holder {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d1d5da;
  }

  ul li.is-active a {
    font-weight: 600;
    border-bottom-width: 2px;
  }

  .component-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d1d5da;

    .tabs a {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .tab-content {
      padding: 0;
    }
  }

  #project-search {
    margin-top: 0.65rem;
  }

  #search-summary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid #d1d5da;

    strong {
      font-weight: 600;
    }

    a {
      display: flex;
      align-items: center;
      user-select: none;
      color: #586069;

      &:hover {
        color: #0366d6;
      }
    }
  }

  #project-list-holder {
    li.project-list-item {
      display: flex;
      padding: 1rem 0;
      border-bottom: 1px solid #d1d5da;
    }
  }

  nav.pagination.is-centered {
    margin-top: 1.25rem;

    @media screen and (min-width: 769px) {
      justify-content: center;

      ul.pagination-list {
        flex-grow: 0;
        width: 420px;
      }
    }
  }

  .project-details {
    a.fullname {
      font-size: 1.125rem;
      margin-right: 1rem;

      &:hover {
        color: #0366d6;
        text-decoration: underline;
      }
    }

    p.visibility {
      font-size: 12px;
      line-height: 1;
      margin: 0.25rem 0;
      padding: 3px 4px;
      border: 1px solid rgba(27, 31, 35, 0.3);
      border-radius: 2px;
    }

    p.description {
      font-size: 0.875rem;
      margin-bottom: 0.25rem;
    }

    a.category {
      color: #0366d6;
      background-color: #f1f8ff;

      &:hover {
        background-color: #def;
        text-decoration: none;
      }
    }

    span.status {
      font-size: 0.875rem;

      .status-colour {
        position: relative;
        top: 1px;
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;

        &.active {
          background-color: #f1a027;
        }

        &.completed {
          background-color: #178600;
        }

        &.open {
          background-color: #59bfff;
        }
      }
    }
  }

  .user-card {
    .compability-content {
      display: -webkit-box;
      overflow : hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-height: 2.5ex;
      height: 5ex;
    }

    .card-footer-item {
      color: white;
      background-color: #f10a30;
    }
  }

  .sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 10vh;
    z-index: 29;
  }

  .is-multiple {
    select {
      height: auto;
      padding: 0;

      option {
        padding: 0.5em 1em;
      }
    }
  }

  #task {
    .action-holder {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;

      .b-tabs {
        margin-bottom: 0;
      }

      .tab-content {
        padding: 0
      }

      @media screen and(max-width: 890px) {
        display: block;

        .b-tabs {
          padding-top: 1rem;
        }
      }
    }

    .progress-value {
      color: #0a0a0a;
    }

    .priority-colour {
      position: relative;
      top: 1px;
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;

      &.high {
        background-color: #f10a30;
      }

      &.low {
        background-color: #178600;
      }

      &.medium {
        background-color: #f1a027;
      }
    }
  }

  #application, #settings {
    .columns {
      padding-top: 0.75rem;

      &:not(:last-child) {
        padding-bottom: 0.75rem;
        border-bottom: 2px solid #e1e1e1;
      }
    }
  }
}
