#user {
  nav.panel {
    .panel-heading {
      font-weight: 400;
    }

    .panel-block {

      &.is-active {
        border-left-width: 3px;
        font-weight: 600;
      }
    }
  }

  .buttons {
    .button {
      &.Twitter {
        color: #38A1F3;
      }

      &.Facebook {
        color: #4267b2;
      }
    }

    form.button_to {
      .button {
        border-radius: 0 4px 4px 0;
        margin-right: 0;
      }
    }
  }

  .settings-section {
    padding-left: 1rem;

    &:not(:first-child) {
      padding-top: 45px;
    }

    @media screen and (max-width: 768px) {
      padding-left: 0;
    }
  }

  #profile-settings {
    .columns {
      @media screen and (min-width: 768px) {
        .column:first-child {
          padding-left: 0;
        }
      }
    }

    figure.image {
      @media screen and (min-width: 1216px) {
        float: left;
        margin-left: 0;
      }

      @media screen and (max-width: 1215px) {
        margin-left: auto;
        margin-right: auto;
      }

      img {
        border: 1px solid #d6d6d6;
      }
    }

    .file.has-name {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  #billing-setting {
    .columns {
      flex-wrap: wrap;
    }

    .card {
      min-width: 300px;
      border-radius: 0.25rem;

      header.card-header {
        border-bottom: 1px solid #dbdbdb;
      }

      .card-content {
        padding: 16px;

        .price-per-month {
          display: flex;
          flex-direction: row;
          color: #1f78d1;
          line-height: 1;

          .price {
            font-size: 48px;
            font-weight: 600;
            margin-right: 5px;
            margin-bottom: 0;
          }

          .condition {
            font-size: 16px;
            font-weight: 600;
            margin: auto 0;
          }
        }

        .price-per-year {
          color: #1f78d1;
          font-size: 13px;
          font-weight: 600;
        }

        ul {
          list-style: none;
        }
      }

      hr {
        background-color: #e1e1e1;
      }

      footer.card-footer {
        flex-direction: row-reverse;
        padding: 1rem;
      }
    }
  }
}
