#user {
  nav.panel {
    .panel-heading {
      font-weight: 400;
    }

    .panel-block {

      &.is-active {
        border-left-width: 3px;
        font-weight: 600;
      }
    }
  }

  .buttons {
    .button {
      &.Twitter {
        color: #38A1F3;
      }

      &.Facebook {
        color: #4267b2;
      }
    }

    form.button_to {
      .button {
        border-radius: 0 4px 4px 0;
        margin-right: 0;
      }
    }
  }

  .settings-section {
    padding-left: 1rem;

    &:not(:first-child) {
      padding-top: 45px;
    }

    @media screen and (max-width: 768px) {
      padding-left: 0;
    }
  }

  #profile-settings {
    .columns {
      @media screen and (min-width: 768px) {
        .column:first-child {
          padding-left: 0;
        }
      }
    }

    figure.image {
      @media screen and (min-width: 1216px) {
        float: left;
        margin-left: 0;
      }

      @media screen and (max-width: 1215px) {
        margin-left: auto;
        margin-right: auto;
      }

      img {
        border: 1px solid #d6d6d6;
      }
    }

    .file.has-name {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  #billing-setting {
    .columns {
      flex-wrap: wrap;
    }

    .card {
      min-width: 300px;
      border-radius: 0.25rem;

      header.card-header {
        border-bottom: 1px solid #dbdbdb;
      }

      .card-content {
        padding: 16px;

        .price-per-month {
          display: flex;
          flex-direction: row;
          color: #1f78d1;
          line-height: 1;

          .price {
            font-size: 48px;
            font-weight: 600;
            margin-right: 5px;
            margin-bottom: 0;
          }

          .condition {
            font-size: 16px;
            font-weight: 600;
            margin: auto 0;
          }
        }

        .price-per-year {
          color: #1f78d1;
          font-size: 13px;
          font-weight: 600;
        }

        ul {
          list-style: none;
        }
      }

      hr {
        background-color: #e1e1e1;
      }

      footer.card-footer {
        flex-direction: row-reverse;
        padding: 1rem;
      }
    }
  }

  #personality-setting {
    .align-bottom {
      vertical-align: text-bottom;
    }

    .hero {
      &.has-background {
        position: relative;
        overflow: hidden;
      }
      &-background {
        position: absolute;
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;

        &.is-transparent {
          opacity: 0.3;
        }
      }
    }

    .switch-field {
      display: flex;
      justify-content: center;
      overflow: hidden;
      margin-bottom: 5%;

      input {
        position: absolute !important;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        width: 1px;
        border: 0;
        overflow: hidden;
      }

      label {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
        transition: all 0.1s ease-in-out;

        &:hover {
          cursor: pointer;
        }
      }

      input:checked + label {
        background-color: $primary;
        color: #FFFFFF;
        box-shadow: none;
      }

      label {
        &:first-of-type {
          border-radius: 4px 0 0 4px;
        }

        &:last-of-type {
          border-radius: 0 4px 4px 0;
        }
      }
    }
  }
}
