#user {
  @import "animations/personality_types";

  .settings {
    .columns {
      margin: 0;

      &:not(:first-child) {
        padding-top: 0.75rem;
      }

      &:not(:last-child) {
        padding-bottom: 0.75rem;
        border-bottom: 2px solid #e1e1e1;
      }

      @media screen and (min-width: 768px) {
        @at-root .settings {
          margin-left: 1rem;
        }

        .column:first-child {
          padding-left: 0;
        }
      }
    }
  }

  #account-settings {
    .buttons {
      .button {
        &.Twitter {
          color: #38A1F3;
        }

        &.Facebook {
          color: #4267b2;
        }
      }

      form.button_to {
        .button {
          border-radius: 0 4px 4px 0;
          margin-right: 0;
        }
      }
    }
  }

  #profile-settings {
    figure.image {
      @media screen and (min-width: 1216px) {
        float: left;
        margin-left: 0;
      }

      @media screen and (max-width: 1215px) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  #billing-setting {
    .card {
      min-width: 300px;
      border-radius: 0.25rem;

      header.card-header {
        border-bottom: 1px solid #dbdbdb;
        box-shadow: none;
      }

      .card-content {
        padding: 16px;

        .price-per-month {
          display: flex;
          flex-direction: row;
          color: #1f78d1;
          line-height: 1;

          .price {
            font-size: 48px;
            font-weight: 600;
            margin-right: 5px;
            margin-bottom: 0;
          }

          .condition {
            font-size: 16px;
            font-weight: 600;
            margin: auto 0;
          }
        }

        .price-per-year {
          color: #1f78d1;
          font-size: 13px;
          font-weight: 600;
        }

        ul {
          list-style: none;
          margin: 0;
        }
      }

      footer.card-footer {
        flex-direction: row-reverse;
        padding: 1rem;
      }
    }
  }
}
