#oauth-box.box.callout
  %label.label Sign in with
  .buttons
    - resource_class.omniauth_providers.each do |provider|
      = button_to omniauth_authorize_path(resource_name, provider), form_class: 'w-full', class: "button #{provider} is-fullwidth" do
        .flex
          %span.icon
            %span.iconify.is-20{ 'data-icon': provider_icon(provider) }
          %span= provider_label(provider)
