a {
  color: #0366d6;
}

hr {
  background-color: #e1e1e1;
}

.settings-message {
  padding: 5px;
  line-height: 1.3;
  color: #a95a00;
  background-color: #fff1de;
  border: 1px solid #fed69f;
  border-radius: 3px;
}
