::placeholder {
  color: slategray !important;
}

.label {
  font-weight: 600;
}

.field.required > .label, .label.required {
  &:after {
    padding-left: 5px;
    color: #cb2431;
    content: "*";
  }
}
