nav.panel {
  .panel-heading {
    font-weight: 400;
  }

  .panel-block {
    &.is-active {
      border-left-width: 3px;
      font-weight: 600;
    }
  }

  // For nested block
  ul li {
    .panel-block {
      &:first-child {
        border-top: 0;
      }
    }

    ul li .panel-block {
      padding-left: 2.25rem;
    }
  }
}
