%h1.title Newsletter Archive
%table.table#newsletterTable{style: 'width: 100%;'}
  %thead
    %tr
      %th Title
      %th Time
  %tbody
    - @newsletters.each do |newsletter|
      %tr{onclick: "showModal(#{newsletter.id})"}
        %td= newsletter.title
        %td= newsletter.created_at

.modal.animated.fadeIn.faster
  .modal-background
  .modal-card
    %header.modal-card-head
      %p.modal-card-title 
      %button.delete{"aria-label" => "close"}
    %section.modal-card-body
     
        
        