- content_for :title, 'Send Newsletter'

%div.is-hidden#notification{style: "margin: 0.5% 1%;"}
  %button.delete
  %p

%h1.title Send Newsletter

= form_with(id: 'newsletterSubForm', model: @newsletter, remote: false) do |f|
  .field
    .control
      = f.text_field :title, class:'input', placeholder: 'Newsletter Title', required: ''
  .field
    .control
      = f.cktext_area :content, required: '', placeholder: 'Type your newsletter here...', ckeditor: { uiColor: "#acacd5", toolbar: 'mini' }
  .field
    .control
      = submit_tag('Send newsletter', class: 'button is-primary')
