- content_for :title, 'Send Newsletter'

#notification.is-hidden
  .notification
    %button.delete
    %p

%h1.title Send Newsletter

= form_with(id: 'newsletterSubForm', model: @newsletter, remote: false) do |f|
  .field
    .control
      = f.text_field :title, class:'input', placeholder: 'Newsletter Title', required: ''
  .field
    .control
      = f.cktext_area :content, required: '', placeholder: 'Type your newsletter here...', ckeditor: { toolbar: 'mini' }
  .field
    .control
      = submit_tag('Send newsletter', class: 'button is-primary')
