- content_for :title, @newsletter.title
- content_for :newsletter, true

= render 'shared/toast'

%section.section
  .container
    %h3.title.is-3
      = @newsletter.title

    .content
      = @newsletter.content
