- content_for :title, 'Billing'

%section.settings-section#billing-setting
  .content
    %h4.title.is-4 Billing

    .columns.flex-wrap
      .column
        .card
          %header.card-header.has-background-white-ter.is-shadowless
            .card-header-title.is-block
              Free Plan
              - if current_user.license.free?
                %p.is-pulled-right.has-text-grey Current Plan
          .card-content
            .price-per-month
              %p.price £0
              %p.condition monthly
            .price-per-year.is-invisible
              billed annually at £180
            %hr
            %ul.is-marginless
              %li Join unlimited projects
              %li Automated team building
              %li Skill set manager

          %footer.card-footer.has-background-white-ter
            - if current_user.license.free?
              %button.button{ disabled: true } Upgrade
            - else
              %button.button.is-success Upgrade
      .column
        .card
          %header.card-header.has-background-white-ter.is-shadowless
            .card-header-title.is-block
              Pro Plan
              - if current_user.license.pro?
                %p.is-pulled-right Current Plan
          .card-content
            .price-per-month
              %p.price £15
              %p.condition monthly
            .price-per-year
              billed annually at £180
            %hr
            %ul.is-marginless
              %li.has-text-weight-bold All Free features
              %li Unlimited private projects
              %li Automated task allocation

          %footer.card-footer.has-background-white-ter
            - if current_user.license.pro?
              %button.button{ disabled: true } Upgrade
            - else
              %button.button.is-success Upgrade
      .column
        .card
          %header.card-header.has-background-white-ter.is-shadowless
            .card-header-title.is-block
              Ultimate Plan
              - if current_user.license.ultimate?
                %p.is-pulled-right Current Plan
          .card-content
            .price-per-month
              %p.price £20
              %p.condition monthly
            .price-per-year
              billed annually at £240
            %hr
            %ul.is-marginless
              %li.has-text-weight-bold All Pro features
              %li Unlimited members per projects
              %li Unlimited active tasks

          %footer.card-footer.has-background-white-ter
            - if current_user.license.ultimate?
              %button.button{ disabled: true } Upgrade
            - else
              %button.button.is-success Upgrade
