.columns.has-text-centered
  .column.is-one-third
    .box.has-equal-height
      = pie_chart data[0][:data].group(:smiley).count, title: data[0][:title]
  .column.is-one-third
    .box.has-equal-height
      = pie_chart data[1][:data].group(:channel).count, title: data[1][:title]
  .column.is-one-third
    .box.has-equal-height
      = pie_chart data[2][:data].group(:interest).count, title: data[2][:title]