-if group_by.present?
    = line_chart data[0].group(group_by).group_by_day(time).count, id: "index-line-graph"
- else
    = line_chart data.map { |d| {data: d.group_by_day(time).count}}, id: "index-line-graph"