- content_for :title, 'Metrics Home'

%section.info-tiles
  .tile.is-ancestor.has-text-centered
    .tile.is-parent
      %article.tile.is-child.box
        %p.title 439k
        %p.subtitle newsletter subscribers
    .tile.is-parent
      %article.tile.is-child.box
        %p.title 59k
        %p.subtitle page visits today
    .tile.is-parent
      %article.tile.is-child.box
        %p.title 59k
        %p.subtitle total page visits
