- content_for :title, 'Newsletters Overview'

#metrics
  %section.section.newsletter
    .container
      %h1.title.has-text-centered Newsletter Statistics

      .columns
        .column
          %datepicker{'@set-dates': 'setDates'}

        .column
          .select.is-pulled-right
            %select#graph-select{'v-model': 'graphOption'}
              %option Newsletter Subscriptions by Date
              %option Unsubscriptions by Newsletter
              %option Unsubscription Reason

      #graph-div.box
