- content_for :title, 'Newsletters Overview'

%section
  .container
    %h1.title.has-text-centered Newsletter Statistics

    .columns
      .column
        %datepicker{ '@set-dates': 'setDates' }

      .column
        .select.is-pulled-right
          %select#graph-select{ 'v-model': 'graphOption' }
            %option Newsletter Subscription by Date
            %option Unsubscription by Newsletter
            %option Unsubscription Reason

    %chartkick{ 'v-bind': '{ dates, graphOption }' }
