- content_for :title, 'Social Media Metrics'

#metrics
  %section.section
    .container
      %h1.title.has-text-centered Social Media

      .columns
        .column
          .field.has-addons
            .control.is-expanded
              %input.input.single-calendar#graph-date{type: 'date', placeholder: 'Select a Date'}
            .control
              %button.button#date-clear
                %span.icon.is-small
                  %span.iconify{'data-icon': 'emojione-v1:cross-mark'}

        .column
          .select.is-pulled-right
            %select#graph-select{onchange: 'changeIndexGraph()'}
              %option Social Share Ratio
              %option Social Share by Date

      .content#graph-div.box