- content_for :title, 'Traffic Overview'

#metrics
  %h1.title.has-text-centered Demographics
  .box
    .columns.has-text-centered
      .column.is-4
        -if @static_data[0].present?
          = pie_chart @static_data[0], id: 'traffic-device-graph'
        -else
          %p No Data
        %p.subtitle Device Types
      .column.is-4
        -if @static_data[1].present?
          = pie_chart @static_data[1], id: 'traffic-browser-graph'
        -else
          %p No Data
        %p.subtitle Browser Types
      .column.is-4
        -if @static_data[2].present?
          = pie_chart @static_data[2], id: 'traffic-country-graph'
        -else
          %p No Data
        %p.subtitle Countries


  %section.section
    .container
      %h1.title.has-text-centered Landing Pages Statistics

      .columns
        .column
          %datepicker{'@set-dates': 'setDates'}

        .column
          .select.is-pulled-right
            %select#graph-select{'v-model': 'graphOption'}
              %option Referrers Ratio
              %option Referrers by Date
              %option Average Time Spent per Page
              %option Number of Visits per Page

      #graph-div.box
