- content_for :title, 'Traffic Overview'

#metrics
  %h1.title.has-text-centered Demographics
  .box
    .columns.has-text-centered
      .column.is-4
        -if @device_count.present?
          = pie_chart @device_count, id: 'traffic-device-graph'
        -else
          %p No Data
        %p.subtitle Device Types
      .column.is-4
        -if @browser_count.present?
          = pie_chart @browser_count, id: 'traffic-browser-graph'
        -else
          %p No Data
        %p.subtitle Browser Types
      .column.is-4
        -if @country_count.present?
          = pie_chart @country_count, id: 'traffic-country-graph'
        -else
          %p No Data
        %p.subtitle Countries


  %section.section
    .container
      %h1.title.has-text-centered Landing Page

      .columns
        .column
          .field.has-addons
            .control.is-expanded
              %input.input.single-calendar#graph-date{type: 'date', placeholder: 'Select a Date'}
            .control
              %button.button#date-clear
                %span.icon.is-small
                  %span.iconify{'data-icon': "emojione-v1:cross-mark"}

        .column
          .select.is-pulled-right
            %select#graph-select{onchange: 'changeIndexGraph()'}
              %option Referrers Ratio
              %option Referrers by Date
              %option Average Time Spent per Page
              %option Number of Visits per Page

      .content#graph-div.box
        -if @data[0][:data].present?
          = render partial: 'piechart', locals: {data: @data, group_by: 'referrer'}
        -else
          %p No Data
