- content_for :title, 'Reset Password'

%section.section
  .container.is-fluid
    .columns.is-vcentered
      .column.is-half.is-offset-one-quarter.card
        %h1.title.is-1.is-spaced Forgot your password?
        = form_with model: resource, url: password_path(resource), html: {'@ajax:error': 'ajaxError'} do |f|
          .field
            .control
              = f.email_field :email, autofocus: true, autocomplete: "email", class: "input", placeholder:"Email"
          .actions
            = f.submit "Send reset password instructions", {class: 'button is-primary'}

        = render "devise/shared/links"