- content_for :title, 'Reset Password'

.box#reset
  %h1.title.is-4.has-text-centered Forgot your password?
  .content
    = form_with model: resource, url: password_path(resource), html: {'@ajax:success': 'ajaxSuccess', '@ajax:error': 'ajaxError'} do |f|
      .field
        .control
          = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'input', placeholder: 'Email'
      .actions
        .buttons
          = f.submit 'Send reset password instructions', {class: 'button is-info is-fullwidth'}
          = link_to 'Cancel', new_user_session_path, {class: 'button is-danger is-fullwidth'}
