- content_for :title, 'Reset Password'

.box
  %h1.title.is-4.text-center Forgot your password?
  .content
    = form_with model: resource, url: password_path(resource), html: { '@ajax:success': 'sendResetSuccess', '@ajax:error': 'ajaxError' } do |f|
      .field
        .control
          = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'input', placeholder: 'Email', required: ''
      .field
        .control
          = f.submit 'Send reset password instructions', class: 'button is-info is-fullwidth'

.box.callout.text-center
  %p.inline Already have an account?
  = link_to 'Sign in', new_user_session_path
