- if user_signed_in?
  %b-dropdown.is-right{ animation: '' }
    %button.button.is-rounded{ slot: 'trigger' }
      %span.icon.is-medium
        %span.iconify{ 'data-icon': 'bx:bxs-bell', 'data-inline': 'false' }
      %b-tag{ 'rounded': '' }= @not_num
    .dropdown-item

      - if @notifications.blank?
        No Notifications
      - else
        = render_notifications(@notifications, fallback: :default)
