- if user_signed_in?
  - @notifications = current_user.notifications.order(:created_at).limit(5)
  %b-dropdown.is-right{ animation: '' }
    %button.button.is-rounded{ slot: 'trigger' }
      %span
        %span.iconify{ 'data-icon': 'bx:bxs-bell', 'data-inline': 'false' }
        -# %b-tag{ 'rounded': '' }= @not_num
    .dropdown-item#notification
      - if @notifications.blank?
        #no-notification
          No Notifications
      - else
        - @notifications.each do |notification|
          = render partial: "notifications/#{notification.key}", locals: { notification: notification }
      %hr.dropdown-divider
        = link_to 'View All', notifications_path

