#comparison.container
  %table.table.table-borderless
    %thead
      %tr
        %th{:scope => "col"}
        %th.font-weight-bold{:scope => "col"} Basics
        %th{:scope => "col"}
        %th{:scope => "col"}
        %th.font-weight-bold{:scope => "col"} free
        %th.font-weight-bold{:scope => "col"} Proffesional
        %th.font-weight-bold{:scope => "col"} enterprise
    %tbody
      %tr
        %th{:scope => "row"} 3
        %td{:colspan => "3"} Larry the Bird
        %td
          %span.fas.fa-check
          %span unlimited projects
        %td
          %span.fas.fa-check
          %span unlimited projects
        %td
          %span.fas.fa-check
          %span unlimited projects
