#comparison.bg-color
  .container
    %table.table.table-borderless{:style => 'color: white'}
      %thead
        %tr
          %th{:scope => "col"}
          %th.font-weight-bold{:scope => "col"} features
          %th{:scope => "col"}
          %th{:scope => "col"}
          %th.font-weight-bold{:scope => "col"} free
          %th.font-weight-bold{:scope => "col"} Proffesional
          %th.font-weight-bold{:scope => "col"} enterprise
      %tbody
        %tr
          %th{:scope => "row"} 1
          %td{:colspan => "3"} unlimited projects
          %td
            %span.fas.fa-times
          %td
            %span.fas.fa-check
          %td
            %span.fas.fa-check
        %tr
          %th{:scope => "row"} 2
          %td{:colspan => "3"} unlimited team members
          %td
            %span.fas.fa-times
          %td
            %span.fas.fa-check
          %td
            %span.fas.fa-check
        %tr
          %th{:scope => "row"} 3
          %td{:colspan => "3"} free to join projects
          %td
            %span.fas.fa-check
          %td
            %span.fas.fa-check
          %td
            %span.fas.fa-check
        %tr
          %th{:scope => "row"} 4
          %td{:colspan => "3"} public projects
          %td
            %span.fas.fa-check
          %td
            %span.fas.fa-check
          %td
            %span.fas.fa-check
        %tr
          %th{:scope => "row"} 5
          %td{:colspan => "3"} private projects
          %td
            %span.fas.fa-times
          %td
            %span.fas.fa-check
          %td
            %span.fas.fa-check
        %tr
          %th{:scope => "row"} 6
          %td{:colspan => "3"} team member analysis and feedback
          %td
            %span.fas.fa-check
          %td
            %span.fas.fa-check
          %td
            %span.fas.fa-check
        %tr
          %th{:scope => "row"} 7
          %td{:colspan => "3"} multiple accounts
          %td
            %span.fas.fa-times
          %td
            %span.fas.fa-times
          %td
            %span.fas.fa-check
