#features
  .container.span
    %h2.center.font-weight-bold Take a Good look at our tools!
    %br
    %p.center Analyse, Rate, Join!
    %br
    %br
    %br
    %nav.tabs
      .container
        #nav-tab.nav.nav-tabs{role: "tablist", style: 'width: 100%;'}
          %a#nav-home-tab.nav-item.nav-link.align-middle.text-center.active{"aria-controls" => "nav-analyse", "aria-selected" => "true", "data-toggle" => "tab", href: "#nav-analyse", role: "tab"} analyse
          %a#nav-profile-tab.nav-item.nav-link.align-middle.text-center{"aria-controls" => "nav-rate", "aria-selected" => "false", "data-toggle" => "tab", href: "#nav-rate", role: "tab"} rate
          %a#nav-contact-tab.nav-item.nav-link.align-middle.text-center{"aria-controls" => "nav-join", "aria-selected" => "false", "data-toggle" => "tab", href: "#nav-join", role: "tab"} join
    #nav-tabContent.tab-content
      #nav-join.tab-pane.fade.show{"aria-labelledby" => "nav-join-tab", role: "tabpanel"}
        .row{style: 'width:100%; padding-top: 50px;'}
          .col-4
            %img#feature{src: asset_path("sample.png")}
          .col-8.container
            .container
              %h5.line.float-left{style: 'clear:both;'}
                %span.font-weight-bold join
              %p{style: 'clear:both;'} Join open projects and add members to your own private projects!

      #nav-analyse.tab-pane.fade.show.active{"aria-labelledby" => "nav-analyse-tab", role: "tabpanel"}
        .row{style: 'width:100%; padding-top: 50px'}
          .col-4
            %img#feature{src: asset_path("sample.png")}
          .col-8.container
            .container
              %h5.line.float-left{style: 'clear:both;'}
                %span.font-weight-bold analyse
              %p{style: 'clear:both;'} Get all potential team members on our platform recommended to your for your analysis. Get the best skills available.
      #nav-rate.tab-pane.fade.show{"aria-labelledby" => "nav-rate-tab", role: "tabpanel"}
        .row{style: 'width:100%; padding-top: 50px;'}
          .col-4
            %img#feature{src: asset_path("sample.png")}
          .col-8.container
            .container
              %h5.line.float-left{style: 'clear:both;'}
                %span.font-weight-bold rate
              %p{style: 'clear:both;'} Review your team mates on their performance for other people to see, and to enable them to get more work!
