#footer
  .container
    .row
      .col-12.col-md
        %h5.font-weight-bold diversify
        %small.d-block.mb-3.text-muted
          %span
            %a.text-muted{:href => "#"} © 2019
          %span
            %a.text-muted{:href => "#"} | Privacy
          %span
            %a.text-muted{:href => "#"} | Terms
      .col-4.col-md
        %ul.list-unstyled.text-small
          %h6 product
          %li
            %a.text-muted{:href => "/register"} register
          %li
            %a.text-muted{:href => "/#features"} features
          %li
            %a.text-muted{:href => "/pricing#comparison"} comparison
          %li
            %a.text-muted{:href => "/pricing"} pricing

      .col-4.col-md
        %ul.list-unstyled.text-small
          %h6 company
          %li
            %a.text-muted{:href => "/about"} about us
          %li
            %a.text-muted{:href => "/feedback"} feedback

      .col-4.col-md
        %ul.list-unstyled.text-small
          %h6 support
          %li
            %a.text-muted{:href => "/about"} F.A.Qs
          %li
            %a.text-muted{:href => "/contact"} contact us
