- content_for :title, "diversify"

#welcome.span
  .row.intro
    .col-6.col-md
      %h4.line
        %span Intro
      %h1.motto.font-weight-bold Team work makes the dream work
      %h4.info Here to make and manage your team! Don't just make a team, make the Best one ever!
      %h4.info Join us in our free projects and contribute to the community! Get rated and grow your skills!

      %a.button{href: "/pricing", style: 'margin-top:75px; display: block; width: 300px;'} Get started for free

    .col-6.col-md
      %img{src: asset_path("landing_1.png")}
