.header
  #logo.float-left
    %h5.logo
      %a.navbar-brand.font-weight-bold{:href => "/"} diversify
  %nav.navbar.navbar-expand-lg.navbar-light.float-right

    %button.navbar-toggler{"aria-controls" => "navbarNavAltMarkup", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavAltMarkup", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarNavAltMarkup.collapse.navbar-collapse
      .navbar-nav
        %a.nav-item.font-weight-bold{:href => "/"} home
        %a.nav-item.font-weight-bold{:href => "/about"} about us
        %a.nav-item.font-weight-bold{:href => ""} contact us
        %a.nav-item.font-weight-bold{:href => "/#features"} features
        %a.nav-item.font-weight-bold{:href => "/pricing"} pricing
        %a.nav-item.font-weight-bold{:href => "/register"} register
