#pricing.container
  .row
    .col-6.col-md
      .card.text-white.bg-dark.mb-3{:style => "max-width: 18rem;"}
        .card-body
          %h5.card-title Casual
          .container
            %h2.card-text.bold.text-center Free
            .container
              %p.card-text.small
                %span.fas.fa-check
                %span unlimited team members
              %p.card-text.small
                %span.fas.fa-check
                %span free to join projects
        .card-footer
          %a.button.card-button{:href => "/register"} Get started for free!
    .col-6.col-md
      .card.text-white.bg-dark.mb-3{:style => "max-width: 18rem;"}
        .card-body
          %h5.card-title Proffesional
          .container
            %h2.card-text.bold.text-center £ 9.99/month
            .container
              %p.card-text.small
                %span.fas.fa-check
                %span unlimited projects
              %p.card-text.small
                %span.fas.fa-check
                %span unlimited team members
              %p.card-text.small
                %span.fas.fa-check
                %span private projects
        .card-footer
          %a.button.card-button{:href => "/register"} try our 14-day free trial
    .col-6.col-md
      .card.text-white.bg-dark.mb-3{:style => "max-width: 18rem;"}
        .card-body
          %h5.card-title Enterprise
          .container
            %h2.card-text.bold.text-center £ 164.99/year
            .container
              %p.card-text.small
                %span.fas.fa-check
                %span unilited accounts
              %p.card-text.small
                %span.fas.fa-check
                %span unilited projects
              %p.card-text.small
                %span.fas.fa-check
                %span unlimited team members
        .card-footer
          %a.button.card-button{:href => "/register"} try our 14-day free trial
