#pricing.container
  .row
    .col-6.col-md
      .card.mb-3{style: "max-width: 18rem;"}
        .card-body
          %h5.card-title.text-center Casual
          .container
            %h2.card-text.bold.text-center Free
            %br
            %br
            .container
              %p.card-text.small
                %span.fas.fa-check
                %span unlimited team members
              %p.card-text.small
                %span.fas.fa-check
                %span free to join projects
        .card-footer
          = link_to 'Get started for free', register_pages_path, class: "button card-button"
    .col-6.col-md
      .card.mb-3{style: "max-width: 18rem;"}
        .card-body
          %h5.card-title.text-center  Profesional
          .container
            %h2.card-text.bold.text-center £ 9.99/month
            %br
            %br
            .container
              %p.card-text.small
                %span.fas.fa-check
                %span unlimited projects
              %p.card-text.small
                %span.fas.fa-check
                %span unlimited team members
              %p.card-text.small
                %span.fas.fa-check
                %span private projects
        .card-footer
          = link_to 'Start a 14-day free trial', register_pages_path, class: "button card-button"
    .col-6.col-md
      .card.mb-3{style: "max-width: 18rem; border: solid 5px var(--button-hover);"}
        .card-body
          %h5.card-title.text-center  Enterprise
          .container
            %h2.card-text.bold.text-center £ 164.99/year
            %br
            %br
            .container
              %p.card-text.small
                %span.fas.fa-check
                %span unilited accounts
              %p.card-text.small
                %span.fas.fa-check
                %span unilited projects
              %p.card-text.small
                %span.fas.fa-check
                %span unlimited team members
        .card-footer
          = link_to 'Start a 14-day free trial', register_pages_path, class: "button card-button"
