#samples.span
  .container
    %h2.center.font-weight-bold create the perfect team for every project you do!
    %br
    %p.center We aim to provide you with a product that lets you gain experience working in diverse teams! even better, you can make your own team! different skills, different, gultures, different genders and so much more at your disposal.
    .container
      #sample
        %img{src: asset_path("sample.png")}
