- content_for :title, 'About'
-# Div for the Intro section
%section.section#About
  -# pricing cards
  .container
    .container
      .columns.is-vcentered
        .column
          %h3.title.is-1.is-spaced.has-text-centered Find out who we are and what we do!
          %p.subtitle.is-5.has-text-centered  meet the team and get to know the people brining diversify to you!
