- content_for :title, 'Home'
-# Div for the Intro section
%section.section#Pricing
  -# pricing cards
  .container
    %h5.title.is-5.description.has-text-primary.has-text-left Intro
    .columns.is-vcentered
      .column
        .card
          .card-content
            .content
              %h5.card-title.text-center Casual
              .container
                %h2.card-text.bold.text-center Free
                %br
                %br
                .container
                  %p.card-text.small
                    %span.fas.fa-check
                    %span unlimited team members
                  %p.card-text.small
                    %span.fas.fa-check
                    %span free to join projects
          %footer.card-footer
          = link_to 'Get started for free', register_pages_path, class: "button is-primary is-medium"
      .column
        .card.border
          .card-content
            .content
              %h5.card-title.text-center Proffesional
              .container
                %h2.card-text.bold.text-center £ 15 / week
                %br
                %br
                .container
                  %p.card-text.small
                    %span.fas.fa-check
                    %span unlimited team members
                  %p.card-text.small
                    %span.fas.fa-check
                    %span free to join projects
          %footer.card-footer
          = link_to 'Get started for free', register_pages_path, class: "button is-primary is-medium"
      .column
        .card
          .card-content
            .content
              %h5.card-title.text-center Enterprise
              .container
                %h2.card-text.bold.text-center £ 165 / year
                %br
                %br
                .container
                  %p.card-text.small
                    %span.fas.fa-check
                    %span unlimited team members
                  %p.card-text.small
                    %span.fas.fa-check
                    %span free to join projects
          %footer.card-footer
          = link_to 'Get started for free', register_pages_path, class: "button is-primary is-medium"
