- content_for :title, 'About Us'

#about.span
  .bg-color{style: 'padding: 50px;margin-bottom: 50px;'}
    %h1.text-center Meet the creators!
    %p.text-center This is the group of amazing individuals building this software.
    %br
    %br
  .container
    .row
      .col-6.col-md
        %img{src: asset_path("jun.png"), style: 'margin:auto; width: 50%; border-radius: 50%; box-shadow: 0 0 25px #0000003b;'}
      .col-6.col-md
        %h3 Zer Jun Eng
        %h6 MEng Software Engineering
        %p.info Lead
    %hr
    .row
      .col-6.col-md
        %h3 Jia Hua Ng
        %h6 MEng Software Engineering
        %p.info Back-end
      .col-6.col-md
        %img{src: asset_path("jia.png"), style: 'margin:auto; width: 50%; border-radius: 50%; box-shadow: 0 0 25px #0000003b;'}
    %hr
    .row
      .col-6.col-md
        %img{src: asset_path("wonwoo.png"), style: 'margin:auto; width: 50%; border-radius: 50%; box-shadow: 0 0 25px #0000003b;'}
      .col-6.col-md
        %h3 Wonwoo Soh
        %h6 MComp Computer Science
        %p.info Back-end
    %hr
    .row
      .col-6.col-md
        %h3 Neville KItala
        %h6 MEng Software Engineering
        %p.info Front-end
      .col-6.col-md
        %img{src: asset_path("neville.png"), style: 'margin:auto; width: 50%; border-radius: 50%; box-shadow: 0 0 25px #0000003b;'}
