- content_for :title, 'Feedback'

%section.section#feedback
  .container
    %h1.title.is-1.has-text-centered Help us improve

    .box
      %form
        .field
          .control.smiley
            %label.label How is your experience with our website?
            %label.radio
              %input.sad{type: 'radio', name: 'smiley', value: 'sad', required: ''}
            %label.radio
              %input.neutral{type: 'radio', name: 'smiley', value: 'neutral'}
            %label.radio
              %input.happy{type: 'radio', name: 'smiley', value: 'happy'}

        .field
          .control
            %label.label How did you find out our product?
            .select
              %select{required: ''}
                %option
                %option Social media
                %option Search engine

        .field
          .control
            %label.label Are you interested in using our product?
            %label.radio
              %input{type: 'radio', name: 'interest', value: 'yes', required: ''} Yes
            %label.radio
              %input{type: 'radio', name: 'interest', value: 'no'} No

        .field
          .control
            %button.button.is-success
              Submit

