- content_for :title, 'Home'
-# Div for the Intro section
%section.section#intro
  .container
    .columns.is-vcentered
      .column
        %h5.title.is-5.description.has-text-primary.has-text-left Introduction
        %br
        %h1.title.is-1.is-spaced Team work makes the dream work
        %p.subtitle.is-5 Here to make and manage your team! Don't just make a team, make the Best one ever!
        %p.subtitle.is-5 Join us in our free projects and contribute to the community! Get rated and grow your skills!
        = link_to 'pricing', class: 'button is-secondary is-large' do
          Get Started for Free
      .column.has-text-centered
        = image_tag 'Genesys.png'

-# Div for the sample section
%section.section#title
  .container
    .columns.is-vcentered
      .column
        %h3.title.is-1.is-spaced.has-text-centered Make the perfect team for every project!
        %p.subtitle.is-5.has-text-centered Take advantage of diversity to unleash the full potential of your team!
%section.section#sample
  .container
    .columns.is-vcentered
      = image_tag 'Diversify_sample.png'
