- content_for :title, 'Pricing'

%main#pricing
  %section.section
    -# pricing cards
    .container
      .columns.is-vcentered
        .column
          .card
            .card-content
              .content
                %h5.title.is-5.has-text-centered Casual
                %h2.title.is-2.has-text-centered Free
                %br
                %br
                %p.card-text.small
                  %span.icon.has-text-success
                    %span.iconify{'data-icon': 'fa-solid:check'}
                  %span unlimited team members
                %p.card-text.small
                  %span.icon.has-text-success
                    %span.iconify{'data-icon': 'fa-solid:check'}
                  %span free to join projects
            %footer.card-footer
            = link_to 'Get started for free', newsletter_pages_path, class: "button is-primary is-medium"
        .column
          .card.border
            .card-content
              .content
                %h5.title.is-5.has-text-centered Professional
                %h2.title.is-2.has-text-centered £ 15 / month
                %br
                %br
                %p.card-text.small
                  %span.icon.has-text-success
                    %span.iconify{'data-icon': 'fa-solid:check'}
                  %span unlimited team members
                %p.card-text.small
                  %span.icon.has-text-success
                    %span.iconify{'data-icon': 'fa-solid:check'}
                  %span free to join projects
            %footer.card-footer
            = link_to 'Get started for free', newsletter_pages_path, class: "button is-primary is-medium"
        .column
          .card
            .card-content
              .content
                %h5.title.is-5.has-text-centered Enterprise
                %h2.title.is-2.has-text-centered £ 165 / year
                %br
                %br
                %p.card-text.small
                  %span.icon.has-text-success
                    %span.iconify{'data-icon': 'fa-solid:check'}
                  %span unlimited team members
                %p.card-text.small
                  %span.icon.has-text-success
                    %span.iconify{'data-icon': 'fa-solid:check'}
                  %span free to join projects
            %footer.card-footer
            = link_to 'Get started for free', newsletter_pages_path, class: "button is-primary is-medium"

  %section.hero.is-medium.break-is-purple
    .hero-body
      .container.has-text-centered
        %h1.title.has-text-white-bis Get a good look at our features!
        %h1.title.has-text-white-bis Analyze, Rate, Join!

        = link_to 'pricing', class: 'button is-primary is-large is-light' do
          Get Started for Free

  -# pricing comparison table
  %section.section#pricing
    .container
      %h3.title.is-1.is-spaced.has-text-centered A comparison for our different payement models!
      %p.subtitle.is-5.has-text-centered  Take a look at what we are offering you and join us today!

      .table-container
        %table.table.is-striped.is-fullwidth.has-text-left.border
          %thead
            %tr
              %th
              %th Features
              %th{align: 'center'} Casual
              %th{align: 'center'} Professional
              %th{align: 'center'} Enterprise
          %tbody
            %tr
              %th 1
              %td Join unlimited Public projects
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span.iconify{'data-icon': 'fa-solid:check'}
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span.iconify{'data-icon': 'fa-solid:check'}
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span.iconify{'data-icon': 'fa-solid:check'}
            %tr
              %th 2
              %td Create public projects
              %td{align: 'center'}
                %span.icon
                  %span 5
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span unlimited
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span unlimited
            %tr
              %th 3
              %td Create private projects
              %td{align: 'center'}
                %span.icon.has-text-danger
                  %span.iconify{'data-icon': 'fa-solid:times'}
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span.iconify{'data-icon': 'fa-solid:check'}
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span.iconify{'data-icon': 'fa-solid:check'}
            %tr
              %th 4
              %td No. of accounts
              %td{align: 'center'}
                %span.icon
                  %span 1
              %td{align: 'center'}
                %span.icon
                  %span 1
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span unlimited
            %tr
              %th 5
              %td Members per project
              %td{align: 'center'}
                %span.icon
                  %span 10
              %td{align: 'center'}
                %span.icon
                  %span 50
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span unlimited
            %tr
              %th 6
              %td Praise
              %td{align: 'center'}
                %span.icon.has-text-danger
                  %span.iconify{'data-icon': 'fa-solid:times'}
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span.iconify{'data-icon': 'fa-solid:check'}
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span.iconify{'data-icon': 'fa-solid:check'}
            %tr
              %th 7
              %td Team Creator
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span.iconify{'data-icon': 'fa-solid:check'}
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span.iconify{'data-icon': 'fa-solid:check'}
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span.iconify{'data-icon': 'fa-solid:check'}
            %tr
              %th 8
              %td SKillset Manager
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span.iconify{'data-icon': 'fa-solid:check'}
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span.iconify{'data-icon': 'fa-solid:check'}
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span.iconify{'data-icon': 'fa-solid:check'}
            %tr
              %th 9
              %td Task Allocation
              %td{align: 'center'}
                %span.icon
                  %span Manual
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span Auto/Manual
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span Auto/Manual
            %tr
              %th 10
              %td No. of active tasks
              %td{align: 'center'}
                %span.icon
                  %span 15
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span unlimited
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span unlimited
            %tr
              %th 11
              %td Issues Board
              %td{align: 'center'}
                %span.icon.has-text-danger
                  %span.iconify{'data-icon': 'fa-solid:times'}
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span.iconify{'data-icon': 'fa-solid:check'}
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span.iconify{'data-icon': 'fa-solid:check'}
