- content_for :title, 'Pricing'

%main#pricing
  %section.section
    %h1.title.is-1.has-text-centered Pricing plans

    .container
      .columns.is-vcentered
        .column
          .card
            .card-content
              .content
                %h5.title.is-5.has-text-centered Casual
                %h2.title.is-2.has-text-centered Free

                %p.card-text.small.is-flex
                  %span.icon.has-text-success
                    %span.iconify{ 'data-icon': 'icomoon-free:infinite' }
                  %span Join unlimited projects
                %p.card-text.small.is-flex
                  %span.icon.has-text-success
                    %span.iconify{ 'data-icon': 'fa-solid:check' }
                  %span Automated team building
                %p.card-text.small.is-flex
                  %span.icon.has-text-success
                    %span.iconify{ 'data-icon': 'fa-solid:check' }
                  %span Skill set manager
            %footer.card-footer
              = link_to 'Get started for free', newsletter_pages_path(type: 'Free'), class: 'button is-primary is-medium'

        .column
          .card.border
            .card-content
              .content
                %h5.title.is-5.has-text-centered Professional
                %h2.title.is-2.has-text-centered £ 15 / month

                %p.card-text.small.is-flex
                  %span.icon
                    %span.iconify{ 'data-icon': 'dashicons:arrow-left-alt' }
                  %span Everything included in Free
                %hr
                %p.card-text.small.is-flex
                  %span.icon.has-text-success
                    %span.iconify{ 'data-icon': 'icomoon-free:infinite' }
                  %span Create unlimited projects
                %p.card-text.small.is-flex
                  %span.icon.has-text-success
                    %span.iconify{ 'data-icon': 'fa-solid:check' }
                  %span Automated task allocation
                %p.card-text.small.is-flex
                  %span.icon.has-text-success
                    %span.iconify{ 'data-icon': 'fa-solid:check' }
                  %span Peer review system
                %p.card-text.small.is-flex
                  %span.icon.has-text-success
                    %span.iconify{ 'data-icon': 'fa-solid:check' }
                  %span Issue board
            %footer.card-footer
              = link_to 'Start 14-day free trial', newsletter_pages_path(type: 'Pro'), class: 'button is-primary is-medium'

        .column
          .card
            .card-content
              .content
                %h5.title.is-5.has-text-centered Enterprise
                %h2.title.is-2.has-text-centered £ 165 / year

                %p.card-text.small.is-flex
                  %span.icon
                    %span.iconify{ 'data-icon': 'dashicons:arrow-left-alt' }
                  %span Everything included in Pro
                %hr
                %p.card-text.small.is-flex
                  %span.icon.has-text-success
                    %span.iconify{ 'data-icon': 'icomoon-free:infinite' }
                  %span Unlimited members per project
                %p.card-text.small.is-flex
                  %span.icon.has-text-success
                    %span.iconify{ 'data-icon': 'icomoon-free:infinite' }
                  %span Unlimited sub-accounts
                %p.card-text.small.is-flex
                  %span.icon.has-text-success
                    %span.iconify{ 'data-icon': 'icomoon-free:infinite' }
                  %span Unlimited active tasks
            %footer.card-footer
              = link_to 'Start 14-day free trial', newsletter_pages_path(type: 'Enterprise'), class: 'button is-primary is-medium'

  %section.hero.is-medium
    .hero-body
      .container.has-text-centered
        %h1.title.is-2.has-text-white-bis Get a good look at our features
        %h1.title.is-2.has-text-white-bis Analyze, Rate, Join!

        = link_to 'Learn more', features_pages_path, class: 'button is-primary is-large is-light'

  %section.section
    .container
      %h3.title.is-1.is-spaced.has-text-centered Compare features
      %p.subtitle.is-5.has-text-centered
        With our always-growing set of tools for individuals and teams, you’ve got options.
        Find the right plan for your projects.

      .table-container
        %table.table.is-striped.is-fullwidth.has-text-left.border
          %thead
            %tr
              %th
              %th Features
              %th{ align: 'center' } Casual
              %th{ align: 'center' } Professional
              %th{ align: 'center' } Enterprise
          %tbody
            %tr
              %th 1
              %td Join unlimited projects
              %td{ align: 'center' }
                %span.icon.has-text-success
                  %span.iconify{ 'data-icon': 'fa-solid:check' }
              %td{ align: 'center' }
                %span.icon.has-text-success
                  %span.iconify{ 'data-icon': 'fa-solid:check' }
              %td{ align: 'center' }
                %span.icon.has-text-success
                  %span.iconify{ 'data-icon': 'fa-solid:check' }
            %tr
              %th 2
              %td Create public projects
              %td{ align: 'center' } 5
              %td{ align: 'center' } Unlimited
              %td{ align: 'center' } Unlimited

            %tr
              %th 3
              %td Create private projects
              %td{ align: 'center' }
                %span.icon.has-text-danger
                  %span.iconify{ 'data-icon': 'fa-solid:times' }
              %td{ align: 'center' } Unlimited
              %td{ align: 'center' } Unlimited

            %tr
              %th 4
              %td Members per project
              %td{ align: 'center' } 10
              %td{ align: 'center' } 50
              %td{ align: 'center' } Unlimited

            %tr
              %th 5
              %td Automated team building
              %td{ align: 'center' }
                %span.icon.has-text-success
                  %span.iconify{ 'data-icon': 'fa-solid:check' }
              %td{ align: 'center' }
                %span.icon.has-text-success
                  %span.iconify{ 'data-icon': 'fa-solid:check' }
              %td{ align: 'center' }
                %span.icon.has-text-success
                  %span.iconify{ 'data-icon': 'fa-solid:check' }

            %tr
              %th 6
              %td Skill set manager
              %td{ align: 'center' }
                %span.icon.has-text-success
                  %span.iconify{ 'data-icon': 'fa-solid:check' }
              %td{ align: 'center' }
                %span.icon.has-text-success
                  %span.iconify{ 'data-icon': 'fa-solid:check' }
              %td{ align: 'center' }
                %span.icon.has-text-success
                  %span.iconify{ 'data-icon': 'fa-solid:check' }
            %tr
              %th 7
              %td Task allocation
              %td{ align: 'center' } Manual
              %td{ align: 'center' } Auto / Manual
              %td{ align: 'center' } Auto / Manual

            %tr
              %th 8
              %td No. of active tasks
              %td{ align: 'center' } 15
              %td{ align: 'center' } 100
              %td{ align: 'center' } Unlimited

            %tr
              %th 9
              %td Peer review system
              %td{ align: 'center' }
                %span.icon.has-text-danger
                  %span.iconify{ 'data-icon': 'fa-solid:times' }
              %td{ align: 'center' }
                %span.icon.has-text-success
                  %span.iconify{ 'data-icon': 'fa-solid:check' }
              %td{ align: 'center' }
                %span.icon.has-text-success
                  %span.iconify{ 'data-icon': 'fa-solid:check' }

            %tr
              %th 10
              %td Issue Board
              %td{ align: 'center' }
                %span.icon.has-text-danger
                  %span.iconify{ 'data-icon': 'fa-solid:times' }
              %td{ align: 'center' }
                %span.icon.has-text-success
                  %span.iconify{ 'data-icon': 'fa-solid:check' }
              %td{ align: 'center' }
                %span.icon.has-text-success
                  %span.iconify{ 'data-icon': 'fa-solid:check' }
