- content_for :title, 'Pricing'

%main#pricing
  %section.section
    %h1.title.is-1.is-spaced.has-text-centered Pricing plans

    .container
      .columns.is-vcentered
        .column
          .card
            .card-content
              .content
                %h5.title.is-5.has-text-centered Casual
                %h2.title.is-2.has-text-centered Free
                %br
                %br
                %p.card-text.small
                  %span.icon.has-text-success
                    %span.iconify{'data-icon': 'fa-solid:check'}
                  %span Unlimited team members
                %p.card-text.small
                  %span.icon.has-text-success
                    %span.iconify{'data-icon': 'fa-solid:check'}
                  %span free to join projects
            %footer.card-footer
            = link_to 'Get started for free', newsletter_pages_path(:type => "Free"), class: "button is-primary is-medium"
        .column
          .card.border
            .card-content
              .content
                %h5.title.is-5.has-text-centered Professional
                %h2.title.is-2.has-text-centered £ 15 / month
                %br
                %br
                %p.card-text.small
                  %span.icon.has-text-success
                    %span.iconify{'data-icon': 'fa-solid:check'}
                  %span Unlimited team members
                %p.card-text.small
                  %span.icon.has-text-success
                    %span.iconify{'data-icon': 'fa-solid:check'}
                  %span free to join projects
            %footer.card-footer
            = link_to 'Start 14-days free trial', newsletter_pages_path(type: 'Pro'), class: 'button is-primary is-medium'
        .column
          .card
            .card-content
              .content
                %h5.title.is-5.has-text-centered Enterprise
                %h2.title.is-2.has-text-centered £ 165 / year
                %br
                %br
                %p.card-text.small
                  %span.icon.has-text-success
                    %span.iconify{'data-icon': 'fa-solid:check'}
                  %span Unlimited team members
                %p.card-text.small
                  %span.icon.has-text-success
                    %span.iconify{'data-icon': 'fa-solid:check'}
                  %span free to join projects
            %footer.card-footer
            = link_to 'Start 14-days free trial', newsletter_pages_path(type: 'Enterprise'), class: 'button is-primary is-medium'

  %section.hero.is-medium.break-is-purple
    .hero-body
      .container.has-text-centered
        %h1.title.has-text-white-bis Get a good look at our features
        %h1.title.has-text-white-bis Analyze, Rate, Join!

        = link_to 'pricing', class: 'button is-primary is-large is-light' do
          Get Started for Free

  -# pricing comparison table
  %section.section#pricing_table
    .container
      %h3.title.is-1.is-spaced.has-text-centered Compare features
      %p.subtitle.is-5.has-text-centered
        With our always-growing set of tools for individuals and teams, you’ve got options.
        Find the right plan for your projects.

      .table-container
        %table.table.is-striped.is-fullwidth.has-text-left.border
          %thead
            %tr
              %th
              %th Features
              %th{align: 'center'} Casual
              %th{align: 'center'} Professional
              %th{align: 'center'} Enterprise
          %tbody
            %tr
              %th 1
              %td Join unlimited public projects
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span.iconify{'data-icon': 'fa-solid:check'}
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span.iconify{'data-icon': 'fa-solid:check'}
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span.iconify{'data-icon': 'fa-solid:check'}
            %tr
              %th 2
              %td Create public projects
              %td{align: 'center'} 5
              %td{align: 'center'} Unlimited
              %td{align: 'center'} Unlimited

            %tr
              %th 3
              %td Create private projects
              %td{align: 'center'}
                %span.icon.has-text-danger
                  %span.iconify{'data-icon': 'fa-solid:times'}
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span.iconify{'data-icon': 'fa-solid:check'}
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span.iconify{'data-icon': 'fa-solid:check'}
            %tr
              %th 4
              %td No. of accounts
              %td{align: 'center'} 1
              %td{align: 'center'} 1
              %td{align: 'center'} Unlimited

            %tr
              %th 5
              %td Members per project
              %td{align: 'center'} 10
              %td{align: 'center'} 10
              %td{align: 'center'} Unlimited

            %tr
              %th 6
              %td Create teams
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span.iconify{'data-icon': 'fa-solid:check'}
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span.iconify{'data-icon': 'fa-solid:check'}
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span.iconify{'data-icon': 'fa-solid:check'}

            %tr
              %th 7
              %td Peer review system
              %td{align: 'center'}
                %span.icon.has-text-danger
                  %span.iconify{'data-icon': 'fa-solid:times'}
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span.iconify{'data-icon': 'fa-solid:check'}
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span.iconify{'data-icon': 'fa-solid:check'}

            %tr
              %th 8
              %td Skill set manager
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span.iconify{'data-icon': 'fa-solid:check'}
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span.iconify{'data-icon': 'fa-solid:check'}
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span.iconify{'data-icon': 'fa-solid:check'}
            %tr
              %th 9
              %td Task allocation
              %td{align: 'center'} Manual
              %td{align: 'center'} Auto / Manual
              %td{align: 'center'} Auto / Manual

            %tr
              %th 10
              %td No. of active tasks
              %td{align: 'center'} 15
              %td{align: 'center'} 100
              %td{align: 'center'} Unlimited

            %tr
              %th 11
              %td Issues Board
              %td{align: 'center'}
                %span.icon.has-text-danger
                  %span.iconify{'data-icon': 'fa-solid:times'}
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span.iconify{'data-icon': 'fa-solid:check'}
              %td{align: 'center'}
                %span.icon.has-text-success
                  %span.iconify{'data-icon': 'fa-solid:check'}
