- content_for :title, 'Pricing'
-# Div for the Intro section
%section.section#Pricing
  -# pricing cards
  .container
    %h5.title.is-5.description.has-text-primary.has-text-left Intro
    .columns.is-vcentered
      .column
        .card
          .card-content
            .content
              %h5.card-title.text-center Casual
              .container
                %h2.card-text.bold.text-center Free
                %br
                %br
                .container
                  %p.card-text.small
                    %span.fas.fa-check
                    %span unlimited team members
                  %p.card-text.small
                    %span.fas.fa-check
                    %span free to join projects
          %footer.card-footer
          = link_to 'Get started for free', register_pages_path, class: "button is-primary is-medium"
      .column
        .card.border
          .card-content
            .content
              %h5.card-title.text-center Proffesional
              .container
                %h2.card-text.bold.text-center £ 15 / week
                %br
                %br
                .container
                  %p.card-text.small
                    %span.fas.fa-check
                    %span unlimited team members
                  %p.card-text.small
                    %span.fas.fa-check
                    %span free to join projects
          %footer.card-footer
          = link_to 'Get started for free', register_pages_path, class: "button is-primary is-medium"
      .column
        .card
          .card-content
            .content
              %h5.card-title.text-center Enterprise
              .container
                %h2.card-text.bold.text-center £ 165 / year
                %br
                %br
                .container
                  %p.card-text.small
                    %span.fas.fa-check
                    %span unlimited team members
                  %p.card-text.small
                    %span.fas.fa-check
                    %span free to join projects
          %footer.card-footer
          = link_to 'Get started for free', register_pages_path, class: "button is-primary is-medium"
-# pricing comparison table
%section.section#Pricing
  .container
    .columns.is-vcentered
      .column
        %h3.title.is-1.is-spaced.has-text-centered A comparison for our different payement models!
        %p.subtitle.is-5.has-text-centered  Take a look at what we are offeromg you and join us today!
    %table.table.is-striped.is-fullwidth.has-text-left.border
      %thead
        %tr
          %th
          %th Features
          %th
          %th Casual
          %th Proffesional
          %th Enterprise
      %tbody
        %tr
          %th 1
          %td Unlimited Public projects
          %td
          %td
            .fas.fa-times
          %td
            .fas.fa-check.small
          %td
            .fas.fa-check.small
        %tr
          %th 2
          %td Unlimited Private projects
          %td
          %td
            .fas.fa-times
          %td
            .fas.fa-check.small
          %td
            .fas.fa-check.small
        %tr
          %th 3
          %td Unlimited Team Members
          %td
          %td
            .fas.fa-check.small
          %td
            .fas.fa-check.small
          %td
            .fas.fa-check.small
        %tr
          %th 4
          %td Unlimited Free To Join Projects
          %td
          %td
            .fas.fa-check.small
          %td
            .fas.fa-check.small
          %td
            .fas.fa-check.small
        %tr
          %th 5
          %td Multiple Accounts
          %td
          %td
            .fas.fa-times
          %td
            .fas.fa-times
          %td
            .fas.fa-check.small
