- content_for :title, "diversify"

-# registration component.
-# Has been made using bootstrap's row and column classes.
-# it cosists; two columns, one with an image and one with
-# information.

#welcome.span
  .row.intro
    .col-6.col-md
      %h4.line
        %span register
      %h1.motto.font-weight-bold Find and recieve news about our app.
      %h4.info Get the latest stories and updates sent to your inbox.

      %form
        %br
        %input.register{name: "email", placeholder: "email@gmail.com", type: "text"}
        %br
        %button.button{style: 'margin-top: 20px;display: block; width: 100%; padding: 15px 30px;'} Sign up to get news about us!

    .col-6.col-md
      %img{src: asset_path("landing_1.png")}
