#application
  - if @project.completed?
    .notification.is-warning.has-text-centered
      Project is completed. New users cannot be added.
  - else
    - if @project.visibility
      .columns
        .column.is-4
          %h4.title.is-4 Application: #{@project.open? ? 'Open' : 'Closed'}
        .column.content
          - if @project.open?
            %p All join requests will be rejected if you close application
            = button_to 'Close application', change_status_project_path(@project, status: 'active'), method: :patch, remote: true,
              data: { confirm: 'Are you sure?', disable: true }, class: 'button is-warning', form: { '@ajax:error': 'ajaxError' }
          - elsif @project.active?
            %p Other users can start sending join request when the application is open
            = button_to 'Open application', change_status_project_path(@project, status: 'open'), method: :patch, remote: true,
              data: { confirm: 'Are you sure?', disable: true  }, class: 'button', form: { '@ajax:error': 'ajaxError' }
    - if @project.applicable?
      .columns
        .column.is-4
          %h4.title.is-4 Join Requests
        .column
          %application-table
    .columns
      .column.is-4
        %h4.title.is-4 Invite Users
      .column
        %invitation-table
