#task
  %task-table{ ':project-id': @project.id, ':completed': @project.completed?, ':admin': allowed_to?(:manage?, @project), ':user-id': current_user.id }
    %template{ 'v-slot:action': '' }
      - if !@project.completed? && (allowed_to? :create_task?, @project)
        .buttons.has-addons
          = link_to 'New task', new_project_task_path(@project), class: 'button is-primary'
      - if @project.completed?
        .notification.is-warning.has-text-centered
          Project is completed. Tasks are now read-only.
