.container
  %section.settings-section
    .container
      .columns.is-vcentered.is-mobile
        .column
          %h1.title.is-2
            Tasks
        .column.is-narrow
          - if !@project.completed? && (allowed_to? :create_task?, @project)
            .is-pulled-right
              .buttons.has-addons
                = link_to new_project_task_path(@project), class: 'button is-primary' do
                  %p New Task
                  %span.icon
                    %span.iconify{ 'data-icon': 'el:plus' }
      %task-table{ 'project-id': @project.id, 'admin': (allowed_to? :manage?, @project), 'user-id': current_user.id }


