- content_for :title, @project.name

%section.section#projects
  .container
  .columns.is-vcentered
    .column.is-narrow
      - if @project.avatar.attached?
        %img{ src: @project.avatar.to_s }
      - else
        %img{ src: "https://via.placeholder.com/64x64/ab28f4'/FFFFFF?text=#{@project.name[0]}" }
    .column
      %h1.title.is-2
        = @project.name
        - if @project.visibility
          %span.icon.iconify{ 'data-tooltip': 'Tooltip Text', 'data-icon': 'fa:unlock' }
        - else
          %span.icon.iconify{ 'data-icon': 'fa:lock' }
      %p Owned by: #{@project.user.name}

