- content_for :title, '403'

%section.section
  .container

    %h1.title.is-2.has-text-centered.is-spaced
      403 Access Denied

    %p.subtitle
      The requested page is not available to you. Please check and try again.
