- content_for :title, '422'

%section.section
  .container
    %h1.title.is-2.text-center.is-spaced
      422 Change Rejected

    %p.subtitle
      Maybe you tried to change something you didn't have access to.
