- content_for :title, '404'

%section.section
  .container

    %h1.title.is-2.text-center.is-spaced
      404 Not Found

    %p.subtitle
      The requested page could not be found. Please check the address and try again. If you are unsure you may #{link_to 'return to the home page', '/'}.
