@import "bootstrap_setup";
@import "font_awesome_setup";
@import "layout";
@import "forms";
@import "warning_page";
@import "custom_flash";

/* Root variables. */
:root {
  --button-primary: #3e3cd3;
  --button-hover: #615ff1;
  --font-large: 65px;
  --font-medium: 35px;
  --font-nav: 15px;
  --font-small: 12.5px;
  --font-main: #3A4147;
  --font-light: #798793;
  --monochrome-offwhite: #f9f9f9;
  --radius: 50px;
}

/* Fix ghost CSS padding or margin */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

// navigation styles

#navigation{
  padding: 20px;

  nav{
    .navbar-toggler{
      border:none;
      padding: 0;
      background: none;
    }

    a{
      color: black;
      text-decoration: none;
      font-size: large;
    }

    a:hover{
      text-decoration: none;
    }
  }
}
// for less than 900px
@media only screen and (max-width: 990px) {
  #navigation{
    transition: all 0.5s ease-in-out;

    nav{
      .nav-link{
        text-align: center;
        font-size: xx-large;
        padding-top: 50px;

        .line{
          transition: all 0.5s ease-in-out;
          position: absolute;
          width: 0;
          left: 50%;
          border-bottom: 3px white solid;
          margin-top: 50px;
          }
        }

      .nav-link:hover, a:visited a:active{
        .line{
          transition: all 0.5s ease-in-out;
          width: 10%;
          left: 45%;
          }
      }


      .bar1, .bar2, .bar3 {
        width: 30px;
        height: 3px;
        background-color: black;
        margin: 6px 0;
        transition: 0.4s;
        border-radius: var(--radius);
      }

      .change{
        transition: all 0.5s ease-in-out;
        background-color: none;

        .bar1 {
          -webkit-transform: rotate(-45deg) translate(-4px, 4px);
          transform: rotate(-45deg) translate(-4px, 4px);
          background-color: white;
        }

        .bar2 {opacity: 0;}

        .bar3 {
          background-color: white;
          -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
        }
      }
    }
  }

  .change#navigation{
    height: 100%;
    background: var(--button-primary);
    color: white;
    transition: all 0.5s ease-in-out;

    a{
        color: white;
    }
  }

}

// for width greater that 990px
@media only screen and (min-width: 990px) {
  #navigation{
    transition: all 0.5s ease-in-out;
    padding: 20px 100px;

  .navbar-collapse{
    flex-grow: 0;
    margin: 0 0 0 auto;
  }

  .nav-link{
    .line{
      width: 0;
      border-bottom: 3px solid var(--button-primary);
      display: block;
      margin-left: 50%;
    }
  }

  .nav-link:hover{
    transition: all 0.5s ease-in-out;
    color: var(--button-primary);
    .line{
      width: 40%;
      margin-left: 30%;
      transition: all 0.5s ease-in-out;
    }
  }
  }
}
