/* Root variables. */
$primary: #3e3cd3;

@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/bulma";

/*! purgecss start ignore */
@import "~buefy/src/scss/utils/all";
@import "~buefy/src/scss/components/datepicker";
@import "~buefy/src/scss/components/dropdown";
@import "~buefy/src/scss/components/loading";
@import "~buefy/src/scss/components/notices";
@import "~buefy/src/scss/components/table";
/*! purgecss end ignore */

@import "framework/base";
@import "framework/button";
@import "framework/footer";
@import "framework/forms";
@import "framework/icon";
@import "framework/layout";
@import "framework/navbar";

// Page specific styles
@import "pages/devise";
@import "pages/landing_page";
@import "pages/metrics_page";
@import "pages/project";
@import "pages/user";
