/* Root variables. */
$primary: #3e3cd3;

@import "bulma";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "forms";
@import "warning_page";

:root {
  --button-primary: #3e3cd3;
  --button-hover: #615ff1;
  --font-large: 65px;
  --font-medium: 35px;
  --font-nav: 15px;
  --font-small: 12.5px;
  --font-main: #3A4147;
  --font-light: #798793;
  --monochrome-offwhite: #f9f9f9;
  --radius: 100px;
}

/* Fix ghost CSS padding or margin */
// default styles
html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;

  &.has-spaced-navbar-fixed-top {
    padding-top: 6.815rem;
  }

  .container{
    max-width: 1000px;
  }

  .content-tab{
    display:none;
  }

  .show{
    display: block;
  }

  .tab{
    border: none;
    background-color: var(--button-primary);
    border-radius: 4px 4px 0 0;

    a{
      color: white;
    }
  }

  .is-active{
    a{
      color: var(--button-primary);
    }
  }
}

/* Navbar */
nav.navbar {
  align-items: center;

  .navbar-item img {
    // The logo
    max-height: initial;
  }

  .navbar-burger {
    height: initial;
    margin-right: 1.5rem;

    span {
      height: 3px;
      border-radius: 10px;
      width: 30px;

    }
  }
}

  /* Desktop Navbar */
  @media screen and (min-width: 1024px) {
    .navbar-end a.navbar-item {
      color: black;
      display: inline-block;
      border-radius: 0 !important;
      background-color: transparent;
      text-decoration: none;
      font-size: large;

      &:after {
        display: block;
        content: '';
        border-bottom: solid 3px $primary;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
      }

      &:hover:after {
        font-weight: bold;
        color: $primary;
        transform: scaleX(1);
      }
    }

  }

  /* Mobile Navbar */
  @media screen and (max-width: 1024px) {
    body{
      text-align: center;
    }
    #navbar {
      background-color: $primary;
      text-align: center;

      a.navbar-item {
        color: white;
      }
    }
    .footer{
      text-align: center;
    }
  }

/* Footer */
footer {
  a.subtitle {
    display: block;
    margin-bottom: 0.8rem !important;
  }
}



h5.description::before {
  content: '';
  display: inline-block;
  margin-right: 15px;
  position: relative;
  bottom: 5px;
  width: 50px;
  border-bottom: 2px solid black;
}
