/* Root variables. */
$primary: #3e3cd3;
$secondary: #f10a30;
$accents: #acacd5;

@import "bulma";

/* Fix ghost CSS padding or margin */
// default styles
html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;

  &.has-spaced-navbar-fixed-top {
    padding-top: 4rem;

    @media screen and (min-width: 1024px) {
      padding-top: 6rem;
    }
  }

  .is-long{
    width: 150px;
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: slategray !important;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: slategray !important;
}

/* Bulma adjustments */
.section:first-child {
  padding-top: 1rem;
}

.button.is-secondary {
  border: none;
  color: white;
  background-color: $secondary;
}

.tab {
  border: none;
  border-radius: 4px 4px 0 0;

  a {
    color: $primary;
  }

  &.is-active {
    a {
      background-color: $primary !important;
      color: white !important;
    }
  }
}

/* Navbar */
nav.navbar {
  align-items: center;

  .navbar-item img {
    // The logo
    max-height: initial;
  }

  .navbar-item{
    padding: 0.5rem 1.75rem
  }

  .navbar-burger {
    height: initial;
    margin-right: 1.5rem;

    span {
      height: 2px;
    }
  }

  .navbar-center{
    margin: auto;
    width: max-content;
    display: inline;
  }
}
