@import "application";

/* Only for sign in and sign up */
body#auth {
  position: fixed;
  bottom: 0;
  background-color: #f1f1f1;

  .container {
    width: 320px;
    margin: 32px auto;

    figure.image {
      margin: 0 auto;
    }

    .box {
      .field.is-flex {
        justify-content: space-between;
      }

      @at-root #signup {
        .label:after {
          padding-left: 5px;
          color: #cb2431;
          content: "*";
        }
      }
    }

    #oauth-box, #create-account-box {
      background-color: transparent;
      box-shadow: none;
      padding: 15px;
      border: 1px solid #afb6bb;
      border-radius: 5px;
    }

    #oauth-box {
      .button {
        &.twitter {
          background-color: #38A1F3;
          color: white;
        }

        &.facebook {
          background-color: #4267b2;
          color: white;
        }

        & div.is-flex {
          width: 100px;

          .icon.iconify {
            margin-right: 20px !important;
          }
        }
      }
    }
  }
}

/* User settings */
#settings {
  section.section {
    &:not(:last-child) {
      padding-bottom: 1rem;
    }
  }
}
