table.outer {
  padding: 2.5em 0;
}

table.inner {
  margin: 3rem auto;
  text-align: center;
  border-radius: 15px;

  td {
    padding: 1rem;
  }
}

section {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

footer {
  p {
    margin: 0;

    &:first-of-type {
      margin-top: 1em;

      &:not(:last-of-type) {
        margin-bottom: 1.5em;
      }
    }
  }

  a.icon {
    display: inline-flex;
    width: 48px;
    height: 48px;
    border: 1px solid #cbcbcb;
    border-radius: 50%;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-right: 10px;
    }

    img {
      height: 20px;
      margin: auto;
    }
  }
}


