@import "application";
@import "plugins/dataTables.bulma";

html {
  background-color: #f7f8f9;
}

a.navbar-item {
  font-size: 18px;
}

/* Side panel menu */
aside.menu {
  .menu-label {
    color: $primary;
    font-size: 18px;
  }

  li a {
    font-size: 17px;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid #808080;
    }
  }
}

/* Metrics page */
#metrics {
  section {
    padding-top: 1.5rem;
    padding-left: 0;
    padding-right: 0;

    &.newsletter {
      padding-top: 0;
    }

    .columns {
      justify-content: flex-end;

      @media screen and (max-width: 768px) {
        .select.is-pulled-right {
          float: none !important;
        }
      }
    }
  }

  #graph-div {
    min-height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
