@import "application";
@import "plugins/dataTables.bulma.min";

html {
  background-color: #f7f8f9;
}

a.navbar-item {
  font-size: 18px;
}

aside.menu {
  .menu-label {
    color: $primary;
    font-size: 18px;
  }

  li a {
    font-size: 17px;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid #808080;
    }
  }
}

/* Unsubscribe page */
#unsubscribe {
  .container {
    max-width: 550px;

    form {
      margin: 0 auto;
      max-width: 400px;

      .field {
        &:last-of-type {
          margin-top: 3em;
        }

        .checkbox {
          user-select: none;
        }

        input[type='checkbox'] {
          margin-right: 5px;
        }
      }
    }
  }
}
