@import "application";

/*! purgecss start ignore */
@import "~buefy/src/scss/components/datepicker";
@import "~buefy/src/scss/components/dropdown";
@import "~buefy/src/scss/components/table";
@import "~buefy/src/scss/components/loading";
/*! purgecss end ignore */

html {
  background-color: #f7f8f9;
}

a.navbar-item {
  font-size: 18px;
}

.pointer:hover {
  cursor: pointer;
}

/* Side panel menu */
aside.menu {
  .menu-label {
    color: $primary;
    font-size: 18px;
  }

  li a {
    font-size: 17px;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid #808080;
    }
  }
}

/* Metrics page */
#metrics {
  section {
    padding-top: 1.5rem;
    padding-left: 0;
    padding-right: 0;

    &.newsletter {
      padding-top: 0;
    }

    .columns {
      justify-content: flex-end;

      @media screen and (max-width: 768px) {
        .select.is-pulled-right {
          float: none !important;
        }
      }
    }
  }
}
