/* Settings Layout */
body#setting-page {
    height: 100%;
}
/* User settings */
#settings {
  section.section {
    &:not(:last-child) {
      padding-bottom: 1rem;
    }
  }

  .button {
    &.Twitter {
      color: #38A1F3;
    }

    &.Facebook {
      color: #4267b2;
    }
  }

  form.button_to {
    .button {
      border-radius: 0 4px 4px 0;
      margin-right: 0;
    }
  }
}

/* Profile */
#edit-profile {
  #profile-pic {
    float: right!important;
  }

  @media screen and (max-width:768px) {
    .file {
      justify-content: center;
    }

    #profile-pic {
      float: none!important;
    }
  }
}