- content_for :title, 'Send Newsletter'

%h1.title Send Newsletter

= form_with model: Newsletter.new, html: { '@ajax:error': 'ajaxError' } do |f|
  .field
    .control
      = f.text_field :title, class: 'input', placeholder: 'Newsletter Title', required: ''
  .field
    .control
      = f.rich_text_area :content, placeholder: 'Type your newsletter here...', class: 'content'
  .field
    .control
      = f.submit 'Send newsletter', class: 'button is-primary'
