- content_for :title, 'Notifications'

%section.section#notification
  .container
    .notification_wrapper
      .notification_header
        %h1.title.is-1
          Notifications
        %p.has-text-grey
          You have
          = @target.unopened_notification_count(@index_options)
          New Notifications
        - if @target.has_unopened_notifications?(@index_options)
          = link_to open_all_notifications_path_for(@target, @index_options.slice(:routing_scope, :devise_default_routes)), method: :post, remote: true, class: 'button is-primary' do
            Open All Notifications
      .container
        .notifications
          - if @records.blank?
            .box
              You have no notifications yet. Start using the program!
          - else
            .content
              - @records.each do |record|
                = render_notification(record)
            = pagy_bulma_nav(@pagy).html_safe

