!!!
%html{lang: 'en'}
  %head
    = render 'layouts/head'

    = stylesheet_packs_with_chunks_tag 'devise'
    = javascript_packs_with_chunks_tag 'devise', defer: ''

  %body
    #app
      %section.section
        .container
          .columns.is-centered
            .column.is-half.card
              .card-content
                = yield
