!!!
%html{lang: 'en'}
  %head
    = render 'layouts/head'

    = stylesheet_packs_with_chunks_tag 'devise'
    = javascript_packs_with_chunks_tag 'devise', defer: ''

  %body.has-spaced-navbar-fixed-top
    #app
      = yield
