- content_for :id, 'user'

- content_for :javascript do
  = javascript_packs_with_chunks_tag 'user', defer: ''

- content_for :footer do
  = render 'layouts/footer'

= render template: 'layouts/application'
